@model TurApp.Models.Sendero

@{
    //Layout = null;
    ViewBag.Title = "Senderos";

}

<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #55b9a1;
    }

    .table-hover tbody tr:hover a {
        color: white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0px;
    }
</style>



<section class="content-header">
    <h1>
        Nuevo
        <small>Sendero</small>
    </h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a>Administración</a></li>
        <li><a href="@Url.Action("Index","Sendero")">Senderos</a></li>
        <li class="active">Nuevo</li>
    </ol>
</section>





<div class="content">

    <!-- Box - Datos Sendero -->
    <div class="box box-primary">

        <div class="box-header">
            <h3 class="box-title">Datos Generales:</h3>
        </div>

        <div class="box-body">
            @using (Html.BeginForm("create", "Senderos", FormMethod.Post, new { @id = "formSendero" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="container">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- Grupo - Datos Generales -->
                        <!-- Fila 1 - Nombre y Descripcion -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="Nombre">Nombre:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="Descripcion">Descripcion:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fila 2 - LugarInicio y LugarFin -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="LugarInicio">Lugar de Inicio:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.LugarInicio, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LugarInicio, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="LugarFin">Lugar de Fin:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.LugarFin, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LugarFin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Fila 3 - TipoDificultadTecnicaID y TipoDificultadFisicaID -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="Apellido">Dificultad Tecnica:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("TipoDificultadTecnicaID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TipoDificultadTecnicaID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="TipoDificultadFisicaID">Dificultad Fisica:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("TipoDificultadFisicaID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TipoDificultadFisicaID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Fila 4 - Desnivel y Distancia -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="Desnivel">Desnivel:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Desnivel, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Desnivel, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="Distancia">Distancia:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Distancia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Distancia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Fila 5 - AlturaMaxima y DuracionTotal -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="AlturaMaxima">AlturaMaxima:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AlturaMaxima, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AlturaMaxima, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="DuracionTotal">Duración:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DuracionTotal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DuracionTotal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Fila 5 - Imagen y zipRecursosMapaOffline -->
                        <div class="row">
                            <!-- Imagen -->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="Imagen">Imagen:</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("senderoImg", "", htmlAttributes: new { @class = "form-control", type = "file", accept = "image/*" })
                                        <p class="text-success">@ViewBag.Message1</p>
                                    </div>
                                </div>
                            </div>

                            <!-- zipRecursosMapaOffline --> 
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="zipMapa">Zip Mapa:</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("zipMapa", "", htmlAttributes: new { @class = "form-control", type = "file", accept = ".zip" })
                                        <p class="text-success">@ViewBag.Message2</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row pull-right" style="margin-right: 5%;">
                            <a href="@Url.Action("Index","Senderos")" class="btn btn-default">Cancelar</a>

                            <input id="btnGuardar" type="submit" class="btn btn-primary" value="Guardar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <!-- Box - Geolocalizacion -->
    <div class="box box-primary">

        <div class="box-header">
            <h3 class="box-title">Geolocalizacion:</h3>
        </div>

        <div class="box-body">
            <div class="container">
                <!-- Botones -->
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <input id="btnGetElevacion" class="btn btn-info" value="Obtener Elevacion" type="button" />
                        <input id="btnDeletePolyline" class="btn btn-default" value="Borrar Sendero" type="button" />
                    </div>
                </div>

                <!--Mapa - tabla - grafico-->
                <div class="row">

                    <div class="col-md-8">
                        <!-- Mapa -->
                        <div class="row">
                            <div id="map" style="width: 100%; height: 450px; text-align: center; position: relative; overflow: hidden;"></div>
                        </div>

                        <!-- Chart -->
                        <div class="row" style="text-align:center; margi">
                            <h4><b>Grafico de Elevación</b></h4>
                            <div id="elevChart"></div>
                        </div>
                    </div>

                    <!-- Tabla -->
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table id="dtCoordenadas" class="table table-striped table-hover">
                                <thead>
                                    <tr><td colspan="4" style="text-align:center;background-color: #55b9a1;color: white; border-radius: 4px;"><b>Coordenadas</b></td></tr>
                                    <tr>
                                        <th>#</th>
                                        <th>Lat</th>
                                        <th>Long</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody id="tblRows"></tbody>
                            </table>
                        </div>

                        @*<div id="output"></div>*@
                    </div>
                </div>

                <!--KML from file-->
                <div class="row">
                    <input class="btn" type="file" id="files" name="files[]" multiple />
                    <output id="list"></output>

                    <div id="btnKml" class="btn btn-default">Recargar desde KML</div>
                </div>


            </div>

        </div>
    </div>


</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfmP3Pqo0aBdUZmidCxUsXQDS5NPYLang&libraries=geometry,drawing&ext=.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Form and validations -->
<script>
    $('#senderoImg').change(function () {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'jpg':
            //case 'bmp':
            case 'png':
            //case 'tif':
                //alert('allowed');
                break;
            default:
                alert('Formato de archivo no valido.');
                this.value = '';
        }

    });

    $('#zipMapa').change(function () {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'zip':
            //case 'bmp':
            //case 'png':
            //case 'tif':
                //alert('allowed');
                break;
            default:
                alert('Formato de archivo no valido.');
                this.value = '';
        }

    });
</script>

<!-- Submit -->
<script>

    //Submit
    $('#formSendero').submit(function () {

        debugger

        //DataSendero
        var data = {
            Nombre: $("#Nombre").val(),
            Descripcion: $("#Descripcion").val(),
            LugarInicio: $("#LugarInicio").val(),
            LugarFin: $("#LugarFin").val(),
            TipoDificultadTecnicaID: $("#TipoDificultadTecnicaID").val(),
            TipoDificultadFisicaID: $("#TipoDificultadFisicaID").val(),
            Desnivel: $("#Desnivel").val(),
            Distancia: $("#Distancia").val(),
            AlturaMaxima: $("#AlturaMaxima").val(),
            DuracionTotal: $("#DuracionTotal").val(),
            Latitud: map.getCenter().lat(),
            Longitud: map.getCenter().lng(),
            SenderoPuntoElevacion: pointsArray,//Puntos con elevacion... 255 puntos para dibujar graficos
            SenderoPunto: [] // Puntos originales para formar polyline
        };

        if (polylinePath != null) {

            for (var i = 0; i < polylinePath.length; i++) {

                var SenderoPunto = {
                    Latitud: polylinePath.b[i].lat(),
                    Longitud: polylinePath.b[i].lng()
                };

                data.SenderoPunto.push(SenderoPunto);
            }
        }

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {
            // Create FormData object
            var formData = new FormData();

            //File 1
            var fileUpload1 = $("#senderoImg").get(0);
            if (fileUpload1.files.length) {
                var file1 = fileUpload1.files;
                formData.append("senderoImg", file1[0]);
            }

            
            //File 2
            var fileUpload2 = $("#zipMapa").get(0);
            if (fileUpload2.files.length) {
                var file2 = fileUpload2.files;
                formData.append("zipMapa", file2[0]);
            }

            //Append "data" to "formData"
            formData.append("Sendero", JSON.stringify(data));

        }

        //debugger

        if ($(this).valid()) {
            $.ajax({
                url: this.action,
                type: this.method,
                data: formData,
                dataType: 'multipart/form-data',
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    abrirWaiting();
                },
                success: function (result) {
                    //debugger
                    cerrarWaiting();
                    if (result.ok) {
                        window.location.href = '@Url.Action("Index","Senderos")';
                        return;
                    }
                    else {
                        alert(result.msj);
                    }

                },
                error: function (error) {
                    //debugger
                    cerrarWaiting();
                    alert(error);
                }
            });
        }
        return false;
    });





</script>

<!-- Map Management -->
<script>
    var polyline ;//= [];//Array de "Polylines"
    var polylinePath; // Almacena "Polyline.getPath();"
    var marker;
    var chartData = [];
    var map;
    var selectionPolyline;
    var pointsArray = [];
    var table;
    var drawingManager;


    function initMap() {
        //set center coordinate



        var myLat = -31.5351832;
        var myLng = -68.5223334;
        var center = {
            lat: myLat,
            lng: myLng
        };

        //create map
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: center,
            mapTypeId: 'satellite'
        });



        //Recupera los puntos Guardados(Sendero)
        var SenderoPuntos = [];

        if (SenderoPuntos.length>0) {
            //Genera "Polyline" con los puntos Guardados(Sendero)
            var PolylineSaved = new google.maps.Polyline({
                path: SenderoPuntos,
                editable: true,
                draggable: false,
                geodesic: true,
                strokeColor: "#00b3fd",
                strokeOpacity: 0.5,
                strokeWeight: 5,
            });

            //Se agrega el Polyline(Sendero) al Arry de "Polylines" (global)
            polyline=PolylineSaved;;

            //se guarda la ruta del Polyline en una variable global
            polylinePath = PolylineSaved.getPath();

            //se dibuja en el mapa el Sendero
            PolylineSaved.setMap(map);

            $('#btnGetElevacion').click();
        }




        addDrawingControl(map);

    }

    function addLine() {
        //debugger
        polylinePath.setMap(map);
    }

    function addDrawingControl(map) {
        //debugger
        //Create(Initialize) Drawing Manager
        drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: null,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                  google.maps.drawing.OverlayType.POLYLINE
                ]
            },
            polylineOptions: {//add drawing control
                editable: true,
                draggable: false,
                geodesic: true,
                strokeColor: "#00b3fd",
                strokeOpacity: 0.5,
                strokeWeight: 5,
            }
        });




        drawingManager.setMap(map);
        //end of add drawing control


        if (polyline!=null) {
            drawingManager.setOptions({
                drawingControl: false,
                drawingMode:null
            });
        }


        //add event listener
        google.maps.event.addListener(drawingManager, 'polylinecomplete', function (xpolyline) {
            //debugger
            //polylines.push(polyline);
            drawingManager.setOptions({
                drawingControl: false,
                drawingMode:null
            });
            polyline =xpolyline;
            polylinePath = xpolyline.getPath();
            $('#btnGetElevacion').click();
        });
    }





    $('#btnGetElevacion').click(function () {

        //debugger

        if (polyline !=null) {


            //var htmlStr = "";
            var tableRows="";
            var path=[];
            var xy;


            //htmlStr += "polyline " + i + " # vertices=" + polylinePath.getLength() + " length=" + google.maps.geometry.spherical.computeLength(polylinePath).toFixed(2) + " km<br>";


            for (var j = 0; j < polylinePath.b.length ; j++) {
                //htmlStr += "&nbsp;&nbsp;" + polylines[i].getPath().getAt(j).toUrlValue(6) + "<br>";
                tableRows +=    '<tr>'
                    +               '<td>'+ j +'</td>'
                    +               '<td>'+ polylinePath.b[j].lat().toFixed(4) +'</td>'
                    +               '<td>'+ polylinePath.b[j].lng().toFixed(4) +'</td>'
                    +               '<td>'
                    +                   '<span data-placement="top" title="Eliminar" data-toggle="tooltip">'
                    +                   '<a class="btn btn-danger fa fa-trash" onclick="removeVertex('+j+')"></a>'//'<a onclick="removeVertex('+j+')">Eliminar</a>'
                    +                   '</span>'
                    +               '</td>'
                    +           '</tr>';
                path.push(polylinePath.getAt(j));
            }



            // Create an ElevationService.
            var elevator = new google.maps.ElevationService;
            //elevator.getElevationAlongPath({
            //    'path': path,
            //    'samples': 256
            //}, plotElevation);
            $('#elevChart').show();
            elevator.getElevationAlongPath({
                'path': path,
                'samples': 256
            },plotElevation);




            //if (!$.fn.dataTable.isDataTable('#dtCoordenadas')) {
            //debugger
            table = $('#dtCoordenadas').DataTable();

            table.destroy();

            document.getElementById('tblRows').innerHTML = tableRows;

            $.fn.DataTable.ext.pager.numbers_length = 4;

            table = $('#dtCoordenadas').DataTable({
                "language": DataTableEsp(),
                "dom": 'tp',
                "ordering": false,
                "lengthChange": false,
            });

            //table.page.len( 10 ).draw();
            //}
        }


    });



    $('#btnDeletePolyline').click(function () {
        debugger
        DeletePolyline();
    });


    function DeletePolyline() {
        if (polyline != null) {
            //eliminar polyline
            polyline.setMap(null);
            polyline = null;
            polylinePath = null;
            drawingManager.setOptions({
                drawingControl: true
            });

            if (marker != null) {
                marker.setMap(null);
            }

            table.destroy();
            $('#tblRows').empty();


            $('#elevChart').hide();
        }
    }


    google.maps.event.addDomListener(window, "load", initMap);



    function plotElevation(returnedElevations) {

        //debugger
        if (returnedElevations == null) {
            return;
        }
        var elevationCalc = null;

        pointsArray = [];
        var elevations = [];
        var locations = [];


        //GUARDAR ESTOS DATOS
        for (var i = 0; i < returnedElevations.length; i++) {
            elevations.push(returnedElevations[i].elevation);
            locations.push(returnedElevations[i].location);

            var point = {
                Latitud: returnedElevations[i].location.lat(),
                Longitud: returnedElevations[i].location.lng(),
                Altura: returnedElevations[i].elevation
            }

            pointsArray.push(point)
        }
        // smooth the data
        // display the results
        chartData = [];
        var ascent = getClimbTotalAscent(elevations);
        var descent = 0;
        var minElevation = elevations[0];
        var maxElevation = elevations[0];
        var distance = 0;
        var maxGradient = 0;
        var maxGradientAt = 0;
        var maxGradientDesc = 0;
        var maxGradientDescAt = 0;
        for (var i_10 = 0; i_10 < elevations.length; i_10++) {
            minElevation = Math.min(elevations[i_10], minElevation);
            maxElevation = Math.max(elevations[i_10], maxElevation);
            // calculate distance
            if (i_10 > 0) {
                var d = google.maps.geometry.spherical.computeDistanceBetween(locations[i_10 - 1], locations[i_10]);
                distance += d;
            }
            var elevation = elevations[i_10];

            var displayDistance = distance / 1000;

            chartData.push([displayDistance, elevation]);
            if (i_10 > 0) {
                var thisAscent = elevations[i_10] - elevations[i_10 - 1];
                if (thisAscent < 0) {
                    descent -= thisAscent;
                }
            }
        }
        var elevChange = maxElevation - minElevation;
        // chart
        var chart = $("#elevChart");
        chart.height(150);
        var chartMin = elevationChartMin(minElevation, maxElevation);
        var chartMax = elevationChartMax(minElevation, maxElevation);

        plot = $.plot(chart, [{ data: chartData, lines: { show: true, fill: true, fillColor: "#D9D9D9" } }], {
            grid: {
                hoverable: true,
                aboveData: true
            },
            yaxis: {
                min: chartMin,
                max: chartMax
            },
            crosshair: {
                mode: "x"
            },
            selection: {
                mode: "x",
                color: "red"
            },
            colors: ["#D9D9D9"]
        });

        chart.on("mouseleave", function () {
            $("#tooltip").hide();
        });
        chart.bind("plotunselected", function () {
            if (selectionPolyline != null) {
                selectionPolyline.setMap(null);
            }
        });
        chart.bind("plotselected", function (event, ranges) {
            var from = ranges.xaxis.from;
            var to = ranges.xaxis.to;
            // get the start and end altitudes
            var fromIndex = getIndexForDistance(from);
            var fromElevation = chartData[fromIndex][1];
            var toIndex = getIndexForDistance(to);
            var toElevation = chartData[toIndex][1];
            var segmentDistance = to - from;
            // selected average %age
            var segmentDistanceInMetres = segmentDistance * 1000;
            var climbInMetres = Math.abs(toElevation - fromElevation);

            // show the segment on the map
            if (selectionPolyline != null) {
                selectionPolyline.setMap(null);
            }
            var sectionData = locations.slice(fromIndex, toIndex);
            var polyOptions = {
                map: map,
                strokeColor: "red",
                strokeWeight: 8,
                path: sectionData,
                zIndex: 1000
            };
            selectionPolyline = new google.maps.Polyline(polyOptions);
        });
        chart.bind("plothover", function (event, pos) {
            var dataset = plot.getData();
            var series = dataset[0];
            var j = getIndexForDistance(pos.x);
            $("#tooltip").hide();
            var y = series.data[j][1];
            var x = series.data[j][0];
            var name = "Elevation: " +
                addCommas(roundNumber(y, 0)) +
                " Metros" +
                "<br/>" +
                "Distance: " +
                addCommas(roundNumber(x, 1)) +
                " KM";
            showTooltip(pos.pageX, pos.pageY, name);
            // add marker
            if (marker == null || marker.getMap() == null) {
                marker = new google.maps.Marker({
                    position: locations[j],
                    map: map,
                    icon: {
                        url: "@Url.Content("~/Content/images/station6.png")",// "~/Content/images/station6.png",
                        anchor: new google.maps.Point(10, 10)
                    },
                    title: "Elevation: " +
                        addCommas(roundNumber(y, 0)) +
                        " Metros" +
                        ", distance: " +
                        addCommas(roundNumber(x, 1)) +
                        " KM"
                });
            }
            else {
                marker.setPosition(locations[j]);
            }
        });
    }







    function showTooltip(n, t, i) {
        $("#tooltip").length === 0 && $('<div id="tooltip"><\/div>').css({
            position: "absolute",
            display: "none",
            border: "1px solid #fdd",
            padding: "2px",
            "min-width": "150px",
            "background-color": "#fee",
            opacity: .8
        }).appendTo("body");
        n > $("body").width() - $("#tooltip").width() - 30 ? n = n - $("#tooltip").width() - 20 : n += 20;
        $("#tooltip").html(i).css({
            top: t,
            left: n
        }).show()
    }

    function getClimbTotalAscent(elevations) {
        "use strict";
        var ascent = 0;
        for (var i = 0; i < elevations.length; i++) {
            if (i > 0) {
                var thisAscent = elevations[i] - elevations[i - 1];
                if (thisAscent > 0) {
                    ascent += thisAscent;
                }
            }
        }
        return ascent;
    }



    function elevationChartMin(n, t) {
        var i = (t - n) / 5;
        return n - i > 0 ? n - i : null
    }

    function elevationChartMax(n, t) {
        var i = (t - n) / 5;
        return t + i
    }

    function getIndexForDistance(distance) {
        for (var i_11 = 0; i_11 < chartData.length; i_11++) {
            if (chartData[i_11][0] >= distance) {
                return i_11;
            }
        }
        return chartData.length - 1;
    }

    function roundNumber(n, t) {
        return Math.round(n * Math.pow(10, t)) / Math.pow(10, t)
    }

    function addCommas(n) {
        for (var u = n.toString(), i = u.split("."), t = i[0], f = i.length > 1 ? "." + i[1] : "", r = /(\d+)(\d{3})/; r.test(t) ;) t = t.replace(r, "$1,$2");
        return t + f
    }



    function removeVertex(vertexIndex) {
        //debugger
        polylinePath.removeAt(vertexIndex);
        $('#btnGetElevacion').click();
        marker.setMap(null);
    };



    $('tbody tr').mouseover(function(e) {


    });

    $(document).on("mouseenter mouseleave", "#tblRows tr", function (e) {

        //debugger

        if (e.type == "mouseenter") {
            // check if it is mouseenter, do something
            var vertexIndex = parseInt( e.currentTarget.cells[0].textContent);

            if (vertexIndex!=null) {

                if (marker == null || marker.getMap() == null) {
                    marker = new google.maps.Marker({
                        position: polylinePath.b[vertexIndex],
                        map: map,
                        icon: {
                            url: "@Url.Content("~/Content/images/station6.png")",// "~/Content/images/station6.png",
                            anchor: new google.maps.Point(10, 10)
                        }
                    });
                }
                else {
                    marker.setPosition(polylinePath.b[vertexIndex]);
                }
            }
        } else {
            // if not, mouseleave, do something
        }
    });



</script>

<!-- FileReader -->
<script>
    var fileContent;


    $("#files").change(function (evt) {
        debugger

        var files = evt.target.files; // FileList object

        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {

            // Only process kml files.
            //if (!f.type.match('*.kml')) {
            //    continue;
            //}


            output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                        f.size, ' bytes, last modified: ',
                        f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                        '</li>');

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {

                    fileContent = e.target.result;

                    drawPolilineFromKML();
                };
            })(f);

            // Read in the image file as a data URL.
            var result = reader.readAsText(f);
        }

        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
    });

    $("#btnKml").click(function () {
        drawPolilineFromKML();
    });


    function drawPolilineFromKML() {

        if (fileContent==null ) {
            return;
        }

        DeletePolyline();


        var myParser = new geoXML3.parser();
        myParser.parseKmlString(fileContent);
        polyline = myParser.docs[0].gpolylines[0]
        polylinePath = polyline.getPath();

        drawingManager.setOptions({
            drawingControl: false,
            drawingMode: null
        });

        polyline.setOptions({
            editable: true,
            draggable: false,
            geodesic: true,
            strokeColor: "#00b3fd",
            strokeOpacity: 0.5,
            strokeWeight: 5,
        });
        polyline.setMap(map);



    }

</script>


<script src="~/Scripts/plugins/elevation/jquery.flot.min.js"></script>
<script src="~/Scripts/plugins/elevation/jquery.flot.selection.js"></script>


<script src="~/Scripts/plugins/geoxml3-kmz/ZipFile.complete.js"></script>
<script src="~/Scripts/plugins/geoxml3-kmz/geoxml3.js"></script>



