@model TurApp.Models.Sendero

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Senderos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LugarInicio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LugarInicio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LugarFin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LugarFin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoDificultadTecnicaID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoDificultadTecnicaID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoDificultadFisicaID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoDificultadFisicaID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Desnivel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Desnivel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Distancia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Distancia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AlturaMaxima)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AlturaMaxima)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DuracionTotal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DuracionTotal)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
