@model TurApp.Models.AspNetRoles

@{
    Layout = null;
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="control-label col-md-2 col-md-offset-1" for="Name">Nombre:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    
<script>
    //Click "Guardar"
    $("#btnGuardar").unbind("click");
    $("#btnGuardar").click(function () {
        //debugger
        $('#contenidoModal form').submit()
    });

    //Submit
    $('form').submit(function () {
        //debugger
        if ($(this).valid()) {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                beforeSend: function (xhr) {
                    abrirWaiting();
                },
                success: function (result) {
                    //debugger
                    cerrarWaiting();
                    if (result.ok) {
                        window.location.href = window.location.href;
                        cerrarModal();
                        return;
                    }
                    $('#contenidoModal').html(result);
                },
                error: function () {
                    cerrarWaiting();
                }
            });
        }
        return false;
    });

</script>