@model MSP_RegProf.Models.CentroDeSalud

@{
    Layout = null;
}

<style>
    #map {
        height: 400px;
        width: 100%;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-right: 5px;
        padding-left: 5px;
    }

    legend {
        border-bottom: 1px solid #3c8dbc;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Grupo - Datos Personales -->
            <fieldset id="fsDatosPersonales">
                <legend>Datos Generales:</legend>

                <!-- Fila 1 - Nombre y Direccion -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Apellido">Nombre:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Nombre">Direccion:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fila 2 - Departamento y Localidad -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Depto">Depto:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocalidadID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Apellido">Localidad:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocalidadID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Fila 3 - Telefono y EMail -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Apellido">Telefono:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Apellido">EMail:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Fila 4 - Imagen -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Apellido">Imagen:</label>
                            <div class="col-md-8">
                                <input type="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>


            <!-- Grupo - Geolocalizacion -->
            <fieldset id="fsGeolocalizacion">
                <legend>Geolocalizacion:</legend>

                <!-- Fila 1 - Latitud y Longitud -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Latitud">Latitud:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Longitud">Longitud:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3>My Google Maps Demo</h3>
                    <div id="map"></div>
                </div>


            </fieldset>


            
        </div>
    </div>
}


<script>
                    function initMap() {
                        var uluru = { lat: -25.363, lng: 131.044 };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 4,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZK0bGv6wCVNOpLiLRLgV_hy8B-Y07pp4&callback=initMap">
</script>