@model MSP_RegProf.Models.CentroDeSalud

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CentroDeSalud</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Latitud)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Latitud)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Longitud)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Longitud)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EMail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.URLImagenDelCentroDeSalud)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.URLImagenDelCentroDeSalud)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaUltimaActualizacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaUltimaActualizacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Localidad.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Localidad.Nombre)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
